
/* Navigation */
body{
    margin: 24px 160px 20px 160px;
    max-width: 1600px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Banner section */
.banner-class{
    background-color: #C6E4D6;
    border-radius: 24px;
    background-size: 1280px 560px;
    
}
.banner-divs{
    display: flex;
    justify-content: space-between;
    padding: 120px 80px;
    
    
}
.banner-div1{
    margin-top: 117px;
}
/* Pillar of Bangladesh 2.0 */
.pillar-sec-title{
    margin-top: 80px;
    text-align: center;
}
.pillar-columns{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.pillar-clm{
    background-color: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

/* Vision section */
.vision-class{
    margin-top: 90px;
}
.visions-clms{
    
    display: flex;
    justify-content: space-between;
    gap: 24px;
   
}
.quote{
    margin-top: 90px;
}


.recent-col1{
    display: flex;
    gap: 32px;
    
}
.recent-col2{
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}
.recent-col3{
    display: flex;
    gap: 32px;
    
}











/* footer */
footer{
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 5px;
}